.wrap {
  //height: 100%;
  height: 370px;

  display: flex;
  flex-wrap: wrap;
  margin-right: -9px;
}

.menu {
  position: absolute;
  top: 26rem;
  right: 16rem;

  .menuButton {
    position: absolute;
    top: 0;
    right: 0;
    width: 43rem;
    height: 43rem;
    border-radius: 50%;
    color: #bdc4d0;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;

    div:before {
      content: ".";
      display: block;
      font-size: 45rem;
      line-height: 9rem;
      position: relative;
      top: -2rem;
    }
  }

  .menuItems {
    position: absolute;
    top: 35rem;
    height: 0;
    overflow: hidden;
    transition: top 0.3s;
    right: 0;
    width: 188rem;
    background: white;
  }

  .menuItem {
    display: flex;
    height: 43rem;
    align-items: center;
    font-size: 14rem;
    color: #434343;
    padding-left: 30rem;
    position: relative;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: #ea8604;
    }

    & + .menuItem {
      border-top: 1px solid rgba(189, 196, 208, 0.11);
    }

    .icon {
      position: absolute;
      left: 0;
    }

    &.edit .icon {
      width: 16rem;
    }

    &.delete .icon {
      width: 13rem;
    }
  }

  &:focus {
    .menuButton {
      background: #fcebd4;
      color: #ea8604;
    }

    .menuItems {
      top: 43rem;
      height: auto;
      padding: 10rem 24rem;
      box-shadow: 0 4rem 15rem rgba(8, 15, 22, 0.1);
    }
  }
}

.item {
  // height: 100%;

  // overflow-y: scroll;
  // flex-basis: calc(50% - 15rem);
  background: white;
  margin-bottom: 20rem;
  margin-right: 20rem;
  padding: 50rem;
  border-radius: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4rem 6rem rgba(8, 15, 22, 0.05);
  height: 363px;
  // width: 380px;

  // &:nth-child(even) {
  //   margin-left: 30rem;
  // }
}

.title {
  color: #ea8604;
  font-size: 24rem;
  line-height: 32rem;
  margin-bottom: 10rem;
  // word-wrap: break-word;
}

.formControl {
  display: block;
  margin-bottom: 10rem;

  .label {
    font-size: 16rem;
    line-height: 21rem;
    color: #838383;
    margin-bottom: 7rem;
    margin-top: 7rem;
  }

  .input {
    box-shadow: none; // for ff
    width: calc(100%);
    height: 42rem;
    line-height: 42rem;
    background: #f9f9f9;
    border-radius: 5rem;
    padding: 0 9rem;
    font-size: 18rem;
    color: #434343;
    border: 1px solid #f9f9f9;

    &.date {
      width: 200rem;
    }

    &:focus {
      outline: none;
      border: 1px solid #ea8604;
    }
  }
}

.listItem {
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
  flex-wrap: wrap;
  // word-wrap:break-word;

  .num {
    height: 32rem;
    width: 32rem;
    line-height: 20rem;
    color: white;
    background: #434343;
    border: 7rem solid #e0e0e0;
    font-size: 12rem;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    transition: 0.3s;
  }

  .name {
    font-size: 16rem;
    color: #434343;
    flex-grow: 1;
    margin-left: 10rem;
    width: 10px;
    word-wrap: break-word;
    margin-right: 10rem;
    margin-bottom: 10rem;
  }

  .toggleButton {
    width: 150rem;
    height: 32rem;
    line-height: 34rem;
    text-align: center;
    font-weight: bold;
    font-size: 16rem;
    border-radius: 5rem;
    color: #bdc4d0;
    background: #f4f6f7;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
  }
  .toggleButton:hover {
    // width: 250rem;
    height: 40rem;
    text-align: center;
    padding-top: 3rem;
    color: white;
    background: orange;
  }

  &.checked {
    .num {
      background: #172dce;
      border-color: #d9ddf7;
    }

    .toggleButton {
      color: #172dce;
      background: #dbdff7;
    }
  }
}

.submitWrap {
  display: flex;
  align-items: center;
  justify-content: center;

  .submit {
    width: 205rem;
    height: 56rem;
    line-height: 56rem;
    text-align: center;
    font-size: 20rem;
    font-weight: bold;
    border-radius: 5rem;
    border: 1px solid;
    color: #ea8604;
    cursor: pointer;
    padding: 0;
    background: white;

    &:focus {
      outline: none;
    }
  }
}
@media (max-width: 999px) {
  .wrap {
    margin-right: 15px;
  }
}
