@import "variables.scss";

.forgot {
  color: $font-gray;
  font-size: 16rem;
  line-height: 19rem;
  text-align: right;
  cursor: pointer;
}

.loginMetamask {
  height: 50px;
  width: 80%;
  background-color: #4c42ff;
  border-radius: 8px;
  border-color: #4c42ff;
  margin-top: 80px;
}

.button {
  & + .button {
    margin-top: 30rem;
  }

  margin-top: 8px;
  &:hover {
    text-decoration: none;
  }
}

@media screen and (max-width: 500px) {
  .button {
    width: 200px;
  }
}

.buttonsDiv{
  padding-bottom: 3%;
}
.center {
  text-align: center;
}

.textButton {
  font-size: 18rem;
  margin-top: 36rem;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.loginImage {
  height: 340px;
  width: 300px;
}

.welcomeImage {
  height: 100px;
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  background: white;
  //padding: 20px 90px 70px 90px;
  padding: 2% 4% 2% 8%;
  // margin-bottom: 40px;
}

.logo2 {
  background: white;
  padding: 0% 4% 2% 8%;
}

.signUpText {
  color: #4c42ff;
  font-size: 18px;

  &:hover {
    cursor: pointer;
  }
}

.firstImage {
  height: 40px;
margin-top: 10px;
margin-left: 8%;
}

.main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

// @media screen and (max-width: 600px) {
//   .scroll {
//     background: green;
//   }
// }

// .scroll {
//   ::-webkit-scrollbar-thumb {
//     //background: #0000008f;
//     background: #333333;
//     border-radius: 8px;
//     background: #4c42ff;
//   }
// }

// @media screen and (max-width: 1600px) {
//   .firstImage {
//     margin-bottom: 50px;
//   }
// }

// @media screen and (max-width: 650px) {
//   .firstImage {
//     margin-bottom: 30px;
//   }
// }

.carouselImage {
  height: 80%;
  width: 50%;
}

@media screen and (max-width: 600px) {
  .carouselImage {
    height: 80%;
    width: 40%;
  }
}


@media screen and (max-width: 500px) {
  .firstImage {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 300px) {
  .firstImage {
    //padding-top: 100px;
  }
}

.test {
  background: white;
  margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
  .test {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 600px) {
  .logo2 {
    // padding-top: 40px;
    background: white;
  }
}

// @media screen and (max-width: 400px) {
//   .logo {
//     display: flex;
//     text-align: center;
//     justify-content: center;
//     align-items: center;
//   }
// }



@media screen and (max-width: 600px) {
  .main{
    display: grid;
  }
  .loginImage {
    background: white;
    // height: 300px;
  }
.firstImage{
  margin-top: 35px;
  margin-left: 20%;
}
  .layout {
    height: auto !important;
    width: 84% !important;
  }

  .welcomeImage {
    width: 150px !important;
    height: 50px;
  }
 
}
@media screen and (max-width: 800px) and (min-width:600px) {
  .loginWithMetaMask, .button{
    font-size: 14px !important;
  }
}
.layout {
  height: auto;
  width: 56%;
}

@media screen and (max-width: 1186px) and (min-width: 770px) {
  .loginImage {
    width: 273px;
    height: 312px;
  }

  .layout {
    height: auto !important;
    width: 80% !important;
  }
}

@media screen and (max-width: 769px) and (min-width: 600px) {
  .loginImage {
    height: 286px;
    width: 185px;
  }

  .layout {
    height: auto !important;
    width: 90% !important;
  }

  .welcomeImage {
    width: 200px !important;
    margin-bottom: 14px !important;
  }
}

@media screen and (max-width: 600px) {
  .loginMetamask {
    // margin-top: 40px;
    width: 100% !important;
  }
  .txt {
    text-align: left;
  }
  .firstImage {
    // height: 50px;
    padding-right: 56%;
  }
  .signinDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 13%;
    margin-bottom: 40px;
  }
  .txt1{
    width:80%;
  }

  .buttonsDiv {
    width: 100%;
    display: contents;
  }

  .txt {
    font-size: 10px;
  }
}
@media screen and (max-width: 422px) {
 
  .firstImage {
    height: 45px;
  }
}
.loginWithMetaMask {
  height: 50px !important;
  width: 80% !important;
  background: #4c42ff !important;
  border-radius: 8px !important;
  border-color: #4c42ff !important;
  margin-top: 80px !important;

  & :hover {
    //text-decoration: none;
    text-decoration: underline;
    text-decoration-color: #4c42ff;
  }
}

.loginWithMetaMask :hover {
  text-decoration: underline;
  text-decoration-color: #4c42ff;
}

.loginWithNumio {
  background: #258c01 !important;
  color: white !important;
  border-color: green !important;
  margin-top: 30px !important;
  height: 50px !important;
  width: 80% !important;
  border-radius: 10px !important;

  & :hover {
    text-decoration: none;
  }
}
.txt1{
  font-style: normal;
  font-weight: 400  ;
}