@import 'variables.scss';

.modalContent {
  margin: 8.6rem 0 7.7rem;
}

.modalInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8.3rem;
}

.modalColumn {
  flex-basis: 50%;
}

.modalKey {
  margin-bottom: .9rem;
  color: $font-gray;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.modalValue {
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 2.6rem;
}

.modalQuestion {
  color: $dark-gray;
  font-size: 1.8rem;
  line-height: 2.2rem;
}
