@import 'variables.scss';

.grid {
  display: grid;
  min-height: 100%;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30rem;
}

.modalContent {
  margin: 86rem 0 77rem;
}

.modalInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 83rem;
}

.modalColumn {
  flex-basis: 50%;
}

.modalKey {
  margin-bottom: 9rem;
  font-size: 18rem;
  line-height: 22rem;
}

.modalValue {
  font-weight: bold;
  font-size: 22rem;
  line-height: 26rem;
  color: #434343;
}

.modalQuestion {
  color: $dark-gray;
  font-size: 18rem;
  line-height: 22rem;
}
