@import "variables.scss";

.grid {
  display: grid;
  min-height: 100%;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30rem;
  scrollbar-color:  #EA8604 white;
  scrollbar-width: thin;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-track {
  //box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  //background: #0000008f;
  background: #333333;
  border-radius: 8px;
  background: #ea8604;
}

/* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }
// .scroll {
//   height: 200px;
//   overflow-y: scroll;
// }
