@import 'variables.scss';

.sidebar {
  position: fixed;
  top: 16.6rem;
  bottom: 5.2rem;
  background: white;
  width: 31.7rem;
  flex-shrink: 0;
  box-shadow: .2rem 0 1.5rem $shadow-color;
  padding-top: 5rem;
  z-index: 10;
  left: -23rem;
  transition: .2s;

  .item {
    height: 8.5rem;
    display: flex;
    align-items: center;
    padding-left: 3.6rem;
    position: relative;
    color: $font-gray;

    .iconWrap {
      position: fixed;
      left: -1.5rem;
      padding-left: 3.6rem;
      background: white;
      z-index: 1;
      transition: .2s;
    }

    .icon {
      width: 4.3rem;
      height: 8.5rem;
      background: $font-gray;
      mask-position: center;
      mask-size: contain;
      mask-repeat: no-repeat;
    }

    .text {
      font-size: 2rem;
      margin-left: 6.4rem;
    }

    .bell {
      position: absolute;
      top: 3.4rem;
      right: 3.5rem;
      width: 3.4rem;
      height: 3.2rem;
      z-index: 2;
      transform: translate(3rem, -2rem);
      transition: .2s;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: .8rem;
      border-radius: .4rem;
      background: $font-accent;
      opacity: 0;
      box-shadow: -.5rem 0 1.5rem rgba(234, 134, 4, 34%);
    }

    &.active, &:hover {
      background: #FEFCF8;
      color: $font-accent;

      &:after {
        opacity: 1;
      }

      .icon {
        background: $font-accent;
      }
    }
  }

  &:hover {
    left: 0;

    .item {
      .iconWrap {
        left: 0;
      }

      .bell {
        transform: translate(0, 0);
      }
    }
  }
}
