@import 'variables.scss';

.sidebar {
  position: fixed;
  top: 166rem;
  bottom: 52rem;
  background: white;
  width: 317rem;
  flex-shrink: 0;
  box-shadow: 2rem 0 15rem $shadow-color;
  padding-top: 50rem;
  z-index: 10;
  left: 0;
  transition: .2s;

  .item {
    height: 85rem;
    display: flex;
    align-items: center;
    padding-left: 36rem;
    position: relative;
    color: $font-gray;

    .iconWrap {
      position: fixed;
      left: 0;
      padding-left: 36rem;
      background: white;
      z-index: 1;
      transition: .2s;
    }

    .icon {
      width: 43rem;
      height: 85rem;
      background: $font-gray;
      mask-position: center;
      mask-size: contain;
      mask-repeat: no-repeat;
    }

    .text {
      font-size: 20rem;
      margin-left: 64rem;
    }

    .bell {
      position: absolute;
      top: 34rem;
      right: 35rem;
      width: 34rem;
      height: 32rem;
      z-index: 2;
      transform: translate(0, 0);
      transition: .2s;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 8rem;
      border-radius: 4rem;
      background: $font-accent;
      opacity: 0;
      box-shadow: -5rem 0 15rem rgba(234, 134, 4, 34%);
    }

    &.active, &:hover {
      background: #FEFCF8;
      color: $font-accent;

      &:after {
        opacity: 1;
      }

      .icon {
        background: $font-accent;
      }
    }
  }


  @media (max-width: 1000px) {
    &:not(:hover) {
      left: -230rem;

      .item {
        .iconWrap {
          left: -15rem;
        }

        .bell {
          transform: translate(30rem, -20rem);
        }
      }
    }
  }
}
