@import "variables.scss";

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.table {
  width: 100%;

  tr:nth-child(even) td,
  th {
      background: #fbfbfc;
  }

  th,
  td {
    height: 69rem;

   &:first-child,
    & + * {
     padding-left: 23rem;
    }

    &:last-child {
      padding-right: 23rem;
    }
    
  }

  th {
    font-weight: bold;
    color: $font-gray;
    text-align: left;
    position: sticky;
    top: 0; 
  }
}

.tableUpcomingVotes {
  width: 100%;

  tr:nth-child(even) td,
  th {
    background: #fbfbfc;
  }

  th,
  td {
    height: 69rem;
    width: 250px;

    &:first-child,
    & + * {
      padding-left: 23rem;
    }

    &:last-child {
      // padding-right: 23rem;
    }
  }

  th {
    font-weight: bold;
    color: $font-gray;
    text-align: left;
    position: sticky;
    top: 0; 
    }
  }


.tablePassVotes {
  width: 100%;

  tr:nth-child(even) td,
  th {
    background: #fbfbfc;
  }

  th,
  td {
    height: 69rem;
    width: 200px;
    

    &:first-child,
    & + * {
      padding-left: 23rem;
    }

    &:last-child {
      // padding-right: 23rem;
    }
  }

  th {
    font-weight: bold;
    color: $font-gray;
    text-align: left;
    position: sticky;
    top: 0; 
  }
  #p{
    word-wrap: break-word;
  }

}

@media screen and (max-width:600px){
  .tablePassVotes {
    td {
      height: 69rem;
      width: 10%;

  
      &:first-child,
      & + * {
        padding-left: 23rem;
      }
  
      &:last-child {
        // padding-right: 23rem;
      }
    }
    #p{
      word-wrap: break-word;
    }
  
  }
}

.hoverRow {
  position: absolute;
  height: 69rem;
  width: 100%;
  border: 1px solid rgba(189, 196, 208, 0.4);
  box-shadow: 0 5rem 15rem rgba(8, 15, 22, 0.16);
  border-radius: 8rem;
  pointer-events: none;
  cursor: pointer;
}

.compact {
  th,
  td,
  .hoverRow {
    height: 51rem;
  }
}

.clickable tr td {
  cursor: pointer;
}

@media (max-height: 680px), (min-aspect-ratio: 15/9) {
  .compact {
    th,
    td,
    .hoverRow {
      height: 45rem;
    }
  }
}