@import 'variables.scss';

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.table {
  width: 100%;
  height: 100%;

  tr:nth-child(even) td, th {
    background: #FBFBFC;
  }

  th, td {
    height: 69rem;

    &:first-child, & + * {
      padding-left: 23rem;
    }

    &:last-child {
      padding-right: 23rem;
    }
  }

  th {
    font-weight: bold;
    color: $font-gray;
    text-align: left;
  }
}

.hoverRow {
  position: absolute;
  height: 69rem;
  width: 100%;
  border: 1px solid rgba(189, 196, 208, .4);
  box-shadow: 0 5rem 15rem rgba(8, 15, 22, .16);
  border-radius: 8rem;
  pointer-events: none;
}

.compact {
  th, td, .hoverRow {
    height: 51rem;
  }
}

.clickable tr td {
  cursor: pointer;
}
