@import "variables.scss";

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.table {
  width: 100%;
  // height: 100%;
  
//   th:hover{
//  box-shadow: none;
//   }
  tr:nth-child(even) td,
  th {
    background: #fbfbfc;
  }

  th,
  td {
    height: 69rem;

    &:first-child,
    & + * {
      padding-left: 23rem;
    }

    &:last-child {
      padding-right: 23rem;
    }
  }

  th {
    font-weight: bold;
    color: $font-gray;
    text-align: left;
    position: sticky;
    top:0;
    z-index: 1;
  }
}

.hoverRow {
  position: absolute;
  height: 69rem;
  width: 100%;
  border: 1px solid rgba(189, 196, 208, 0.4);
  box-shadow: 0 5rem 15rem rgba(8, 15, 22, 0.16);
  border-radius: 8rem;
  pointer-events: none;
  cursor: pointer;
  z-index: 0;
}

.compact {
  th,
  td,
  .hoverRow {
    height: 51rem;
  }
}

.clickable tr td {
  cursor: pointer;
}

@media (max-height: 680px), (min-aspect-ratio: 15/9) {
  .compact {
    th,
    td,
    .hoverRow {
      height: 45rem;
    }
  }
}
