@import 'variables.scss';

.topBar {
  height: 11.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem 0 2.5rem;
  flex-shrink: 0;
  background: white;
  box-shadow: 0 1rem 1rem $shadow-color;
  position: relative;
  z-index: 1;

  .logo {
    display: block;
    height: 53%;

    img {
      height: 100%;
    }
  }

  .user {
    display: flex;
    align-items: center;
    cursor: pointer;

    .name {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }

    .email {
      font-size: 1.6rem;
      line-height: 1.9rem;
      color: $font-gray;
    }

    .avatar {
      margin-left: 1.2rem;
      width: 5rem;
      height: 5rem;
      border: 1px solid #EA8604;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      box-shadow: 0 .2rem .6rem rgba(0, 0, 0, .16);
    }
  }
}
