@import "variables.scss";

.modal {
  width: 670rem;
}

.style_title__3o3cx {
 // text-align: "center";
  justify-content: center;
}

.modalContent {
  margin: 50rem 0 40rem;
}

.modalContentTitle {
  font-size: 18rem;
  line-height: 1.4;
  margin-bottom: 26rem;
}

.modalText {
  padding: 25rem;
  border-radius: 5rem;
  font-size: 18rem;
  line-height: 27rem;
  color: $dark-gray;
  background: #f9f9f9;
  min-height: 261rem;
}

// .MuiStepIcon-text {
//   font-size: 30px;
// }

// .MuiTypography-body2 {
//   font-size: 30rem !important;
// }

.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.input2 {
  width: 160px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input3 {
  width: 260px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:hover {
  background-color: #ffffe0;
}
