@import 'variables.scss';

.button {
  position: relative;
  height: 56rem;
  padding: 0 20rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 20rem;
  transition: .2s;
  min-width: 200rem;
  border: 1px solid;
  user-select: none;
}

.primary {
  background: $font-accent;
  border-color: $font-accent;
  color: white;
  transition: .2s;

  &:hover {
    box-shadow: 0 4rem 6rem rgba(234, 134, 4, .25);
  }

  &.shadow {
    box-shadow: 0 4px 6px rgba(234, 134, 4, .25);
  }

  &.outline {
    color: $font-accent;

    &.shadow {
      box-shadow: 0 4px 6px rgba(234, 134, 4, .1);
    }
  }
}

.secondary {
  border: 1px solid #E3E5F9;
  color: #172DCE;

  &:hover {
    border-color: #172DCE;
  }
}

.outline {
  background: transparent;
}

.light {
  border-radius: 10rem;
  box-shadow: 0 3px 6px $shadow-color;
  transition: .2s;
  border: 1px solid rgba(189, 196, 208, .4);

  &:hover {
    box-shadow: 0 5px 15px rgba(8, 15, 22, 0.16);
  }
}

.icon {
  position: absolute;
  right: 10rem;
}
