@import "variables.scss";

.budget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 35rem 35rem 10rem;
  margin-bottom: 18px;
  @media (max-width:1000px)
  {
    margin-left: -33px;
    margin-right: 27px;
  }
}
.inputs {
  display: flex;
}

.updatebutton{
  @media (max-width: 800px){
  min-width: 80px;
  margin-left: 16px;
   }
}
