.columns {
  display: flex;

  > * + * {
    margin-left: 3rem;
  }
}

.smallColumn, .wideColumn {
  display: flex;
  flex-direction: column;

  > * {
    flex-basis: 100%;

    &:not(:first-child) {
      margin-top: 3rem;
    }
  }
}

.smallColumn {
  flex-basis: 40%;
}

.wideColumn {
  flex-basis: 60%;
}
