@import 'variables.scss';

.chartWrap {
  display: flex;
  padding-bottom: 3.18rem;
}

.chartHalf {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radial {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(rgba(255, 255, 255, .2), transparent);
  }
}

.chart {
  width: 30rem;
}

.info {
  flex-basis: 50%;
  padding: .6rem 3rem 0 3rem;
}

.item {
  display: flex;
  width: 100%;

  & + .item {
    margin-top: 3.6rem;
  }
}

.circleWrap {
  margin-right: 1.4rem;
  flex-shrink: 0;
}

.circle {
  width: 2.9rem;
  height: 2.9rem;
  border-style: solid;
  border-width: .7rem;
  border-radius: 1.4rem;
  box-shadow: 0 .3rem .6rem rgba(13, 81, 187, .2), inset 0 .3rem .6rem rgba(13, 81, 187, .2);
}

.itemMain {
  flex-grow: 1
}

.value {
  font-weight: bold;
  font-size: 2.2rem;
}

.title {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: $font-gray;
  margin: .6rem 0 1.1rem;
}

.progress {
  height: 1rem;
  width: 100%;
  border-radius: .5rem;
  background-color: $font-gray;

  .filled {
    height: 100%;
    border-radius: .5rem;
    box-shadow: 0 .3rem .6rem rgba(18, 23, 164, .2);
  }
}