@font-face {
  font-family: ProximaNova;
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'), url('assets/fonts/ProximaNova-Regular.otf');
}

@font-face {
  font-family: ProximaNova;
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'), url('assets/fonts/Proxima Nova Bold.otf');
  font-weight: bold;
}

html, body, #root {
  height: 100%;
}

html {
  font-size: 1px;
  font-family: ProximaNova, sans-serif;
}

@media (max-width: 1979px) {
  html {
    font-size: .8px;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: .6px;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F8F8FB;
  color: #838383;
  font-size: 16rem;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}
