html, body, #root {
  height: 100%;
}

html {
  font-size: 10px;
}

@media (max-width: 1979px) {
  html {
    font-size: 8.5px;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 7px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F8F8FB;
  color: #838383;
  font-size: 1.6rem;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}
