@import "variables";

.card {
  background: white;
  box-shadow: 0 4rem 6rem $shadow-color;
  border-radius: 10rem;
  width: 100%;
  padding: 59rem 0 35rem;
  overflow: hidden;
}

.header {
  padding: 0 50rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 32rem;
  line-height: 1;
}

.word {
  color: $font-accent;

  &:first-child {
    color: $font-dark;
  }

  & + .word:before {
    content: ' ';
    display: inline;
  }
}

.content {
  overflow: auto;
  height: 100%;
  padding: 20rem 50rem;
}
