@import "variables";

.card {
  background: white;
  box-shadow: 0 .4rem .6rem $shadow-color;
  border-radius: 1rem;
  width: 100%;
  padding: 5.9rem 0 3.5rem;
}

.header {
  padding: 0 5rem;
  margin-bottom: .3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 3.2rem;
  line-height: 1;
}

.word {
  color: $font-accent;

  &:first-child {
    color: $font-dark;
  }

  & + .word:before {
    content: ' ';
    display: inline;
  }
}

.content {
  overflow: auto;
  padding: 2rem 5rem;
}
