@import 'variables.scss';

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.columns {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  overflow: auto;
  padding: 5rem 5rem 5.2rem 36.7rem;

  @media (max-width: 1000px) {
    padding-left: 13.7rem;
  }
}