@import "variables.scss";

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.columns {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;

  @media (max-width: 1000px) {
    overflow-x: auto;
    padding-left: 110rem !important;
    padding-right: 12rem !important;

  }
}

.main_layout_padding {
  padding: 50rem 9rem 52rem 327rem;
}

.admin_layout_padding {
  padding: 50rem 9rem 52rem 4rem;

  @media (max-width: 1000px) {
    margin-left: -28px;
    margin-right: -24px;
 
}
}

@media (min-width:999px){
  .content{
  margin-left: 1px;
  margin-right: 3px;
  }
}
