@import "variables.scss";

.modalWrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.36);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  overflow-y: auto;
  max-height: 90vh;
  background: white;
  box-shadow: 0 4px 6px rgba(8, 15, 22, 0.05);
  // min-width: 600rem;
  border-radius: 10rem;
  position: relative;
  padding: 60rem 50rem 50rem;
  margin: 50rem 0;
}

.modal1 {
  overflow-y: auto;
  overflow: visible;
  max-height: 600px;
  max-width: 1000rem;
  background: white;
  box-shadow: 0 4px 6px rgba(8, 15, 22, 0.05);
  // min-width: 600rem;
  // border-radius: 20px;
  position: relative;
  padding: 60rem 50rem 50rem;
  margin: 50rem 0;
  border-top: solid;
  border-top-width: thick;
  border-image-slice: 1;
  width: 95% !important;
  height: 90% !important;
}

@media screen and(max-width:600px) {
  .modal1 {
    width: 90% !important;
  }
}

// @media screen and(max-height:680px) {
//   .modal1 {
//     overflow-y: auto !important;

//   }

//   .hoverEffect {
//     top: 1px !important;
//     right: 1px !important;
//   }

// }
@media screen and (min-width: 1500px) {
  .modal1 {
    max-height: 643px;
  }
}

.stakeModal {
  background: white;
  box-shadow: 0 4px 6px rgba(8, 15, 22, 0.05);
  width: 1100rem;
  border-radius: 10rem;
  position: relative;
  padding: 0 50rem 0;
  margin: 50rem 0;
}

.MuiSvgIcon-root {
  width: 24px !important;
  // height: 24px !important;
}

.closeButton {
  width: 21rem;
  height: 21rem;
  position: absolute;
  top: 20rem;
  right: 20rem;
  cursor: pointer;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 25rem;
    height: 3rem;
    background: $font-gray;
    top: 10rem;
    left: -2rem;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.hoverEffect {
  color: "rgb(76,66,255)";
  background-color: rgb(76, 66, 255);
  box-shadow: -2px 2px 3px rgba(153, 150, 220, 0.8);
  position: absolute;
  top: -14px;
  right: -14px;
  width: 35px;
  height: 35px;
  border-radius: 20px;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 1400px) {
  .hoverEffect {
    width: 31px;
    height: 31px;
  }
}

.cross {
  color: white;
  top: 6px;
  position: relative;
  right: -12px;
}

.title {
  justify-content: center;
  font-size: 20px;
  color: $font-accent;
  height: 32px;
  height: max-content;
  max-width: 420px;
  text-align: center;
  font-weight: 500;
}

@media (max-width: 600px) {
  .title {
    max-width: 220px;
  }
}

.title4 {
  justify-content: center;
  font-size: 20px;
  color: $font-accent;
  height: 32px;
  height: max-content;
  text-align: center;
}

.actions {
  // display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

@media (max-width: 600px) {
  .modal {
    font-size: 12px;
  }
}

.title2 {
  justify-content: center;
  font-size: 20px;
  color: $font-accent;
  height: 32px;
  height: max-content;
  max-width: 420px;
  text-align: center;
  font-weight: 500;
}

@media (max-width: 600px) {
  .title2 {
    font-size: 18px;
    max-width: 220px;
  }
}

.title5 {
  font-style: normal;
  font-weight: bold;
  justify-content: center;
  font-size: 22px;
  height: 30px;
  height: max-content;
  max-width: 420px;
  text-align: center;
  color: black;

  font-weight: 500;

  @media (min-width: 1400px) {
    max-width: 562px;
  }
}

@media (max-width: 288px) {
  .title5 {
    font-size: 18px;
    max-width: 220px;
  }
}

//submit proposal modal
@media screen and (max-device-width: 600px) {
  .proposalHeader {
    display: block !important;
  }

  .stepperDiv {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
  }

  .modalText {
    text-align: center;
  }

  .cross {
    top: 1px !important;
    right: -6px !important;
  }

  .hoverEffect {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1400px) {}

@media screen and (min-width: 1970px) {
  .cross {
    top: 4px;
  }
}

@media screen and (max-width: 340px) {
  .headerText {
    width: 131px;
    margin-left: 1px !important;
    margin-right: 0px !important;
  }
}

.proposalHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.stepperCircle {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background: rgba(76, 66, 255, 0.53);
}

.headerText {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 27px;
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
}

.stepper {
  height: 30px;
  background: rgba(76, 66, 255, 0.53);
  display: flex;
  border-radius: 20px;
}

.stepperNumber {
  width: 30px;
  height: 29px;
  display: grid;
  font-size: 14px !important;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.proposalModal {
  flex-direction: column;
  justify-content: space-between;
  height: 84%;
}

.submissionModal {
  flex-direction: column;
  justify-content: space-between;
  height: 73% !important;
}
@media screen and (max-height: 472px) {
.modalText{
font-size: 11px;
}
}
@media screen and (max-height: 650px) {
  .proposalModal {
    height: 83% !important;
  }

  .submissionModal {
    height: 71% !important;
  }
}

@media screen and (max-height: 436px) {
  .proposalModal {
    height: 75% !important;
  }

  .submissionModal {
    height: 51% !important;
  }

  .modalText {
    font-size: 10px !important;
    margin-bottom: 5px !important;
  }

  .modal1 {
    padding: 10px 20px;
  }

  // .proposalHeader{
  //   margin-bottom: -9px;
  // }
  .stepperDiv {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media screen and (max-height: 300px) {
  .stepperDiv {
    display: none !important;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .proposalModal {
    height: 70% !important;
  }
  .modalText{
    display: none;
  }
  .title5{
    font-size: 17px;
  }
}